

    <div class="jumbotron2">
      <h1 class="title">TOP 套路汪 <br> 勇往直前 才能踩过所有的坑 </h1>
      <p class="slogan">TOP 套路汪 是有着各种高频小套路的套路网站。
      <br>
      我们相信学习成长不是登山，拼图是有效也是必须
      <br>
      我们，按套路出牌
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/jobs">马上应征</a></p>
    </div>


    <section id="company">
      <div class = "container-fluid">
        <div class="row">
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fbzddt4jrvj303k03kmwy.jpg" alt="search" class = "img-thhumbnail">
              <div class="caption">
                <h3>Hubei_Wuhan</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-danger" role="button">MORE</a> <a href="#" class="btn btn-default" role="button">LEARN</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="https://ww1.sinaimg.cn/large/006y8lVagy1fbzdh5wwmrj303k03kmwy.jpg" alt="bid" class = "img-thhumbnail">
              <div class="caption">
                <h3>qiaoyu1111358.com</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-danger" role="button">MORE</a> <a href="#" class="btn btn-default" role="button">LEARN</a></p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 ">
            <div class="thumbnail">
              <img src="https://ww2.sinaimg.cn/large/006y8lVagy1fbzdim0t40j303k03kmwy.jpg" alt="heart" class = "img-thhumbnail">
              <div class="caption">
                <h3>010-12344321</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-danger" role="button">MORE</a> <a href="#" class="btn btn-default" role="button">LEARN</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
